<html ng-app="main">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<link type="text/css" src="../../public/css/styles.css">
		<title> Outside Snacks </title>
	</head>
	<body ng-controller="mainController"> 
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">{{ v.name }}</h4>
		      		</div>
		      		<div class="modalVendorRatingFavFood">
		      			<input type="text" class="form-control box" ng-model="modalReview.rating" placeholder="Rating">
		      			<input type="text" class="form-control box" ng-model="modalReview.favoriteFood" placeholder="Favorite item"> 
		      		</div>
		      	<div class="modal-body">
		  	</div>
		 	<div class="modal-footer">
		    	<button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
		    	<button type="button" class="btn btn-primary" ng-click="submitModalReview(v)">Submit</button>
		  	</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div id="heading">
			<h1 class="title">Outside</h1>
			<h1 class="title">Snacks</h1>
		</div>
		<div class="vendorInputs">
			<input type="text" class="form-control box empty" id="iconify" ng-model="vendor.name" placeholder="Add a vendor">
			<input type="text" class="form-control box" ng-model="vendor.rating" placeholder="Rating">
			<input type="text" class="form-control box" ng-model="vendor.favoriteFood" placeholder="Favorite item"> 
		<button class="btn btn-primary" ng-click="submitVendor()">Submit</button>
	</div>
		<!-- ng-repeat through the data and display in a table -->
		<table class="table">
			<td></td>
			<td class="title">Restaurant</td>
			<td class="title">Rating</td>
			<td class="title">Top Snack</td>
			<td class="title"># of Visitors </td>	
			<tr ng-repeat="item in vendorList">
				<td class="item"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="vendorModal(item)">Rate</button></td>
				<td class="item">{{ item.name }}</td>
				<td class="item">{{ item.rating }}</td>
				<td class="item">{{ item.favoriteFood }}</td>
				<td class="item">{{ item.numberVisited }} </td>
			</tr>
		</table>
	</body>
	<style>
		body {
			font-family: 'Lato', sans-serif;
		}

		#heading {
			margin-top: 15%;
		}

		.title {
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 2px;
			text-align: center;
			margin-top: 0px;
		}

		.vendorInputs {
			margin-top: 30vh;
		}
		.box {
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
		}

		.btn {
			display: inline-block;
		}

		.table {
			margin-left: auto;
			margin-right: auto;
			margin-top: 30%;
			width: 80%;
		}

		.title {
			text-align: center;
			font-size: 25px;
			font-weight: bold;
		}

		.item {
			font-size: 18px;
			text-align: center;
		}

	</style>
	<script>
		$('#myModal').on('shown.bs.modal', function () {
	  		$('#myInput').focus()
		});
		var main = angular.module('main', []);

		main.controller('mainController', function ($scope, $http) {
			$http.get("/api/getVendors")
				.success(function (data) {
					$scope.vendorList = data;
					console.log(data);
					//need to ng-repeat through data and display the information in a table on view
				})
			$scope.submitVendor = function() {
				console.log($scope.vendorName);
				var vendor = $scope.vendor;
				$http({
					method: 'POST',
					url: '/api/putVendors',
					data: vendor
				}).success(function(data) {
					console.log(data);
				});
			}

			$scope.submitModalReview = function(clickedItem) {
				var modalReview = $scope.modalReview;
				$http({
					method: 'post',
					url: '/api/putEntryAndGetAvg',
					data: {
						vendor: clickedItem._id,
						rating: modalReview.rating,
						favoriteFood: modalReview.favoriteFood
					}
				}).success(function(data) {
					console.log(data);
				});
			}

			$scope.vendorModal = function(item) {
				$scope.v = item;
				console.log(item.name);
			}
		})

	</script>
</html>